.table {
    overflow: scroll;
    color: #6a5d5d;
    background-color: white;
    width: 100%;
}

.table__header {
    position: sticky;
    top: 0;
    background-color: white;

}

.table__container {
    height: 50vh;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
    border: none;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}